@tailwind base;
@tailwind components;
@tailwind utilities;

button:disabled {
    background-color: #ECB584;
    color: #FFFFFF;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #ECB584;
    color: #FFFFFF;
    cursor: not-allowed;
}